.flow>*+* {
  margin-top: 1rem;
}

.popup {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.popup header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabrow {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.actionrow {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.actionrow input {
  flex-grow: 1;
}

.tabrow .favicon {
  width: 1em;
  height: 1em;
}

.tabrow .tabdetails {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
}

.tabrow p {
  margin: 0;
  width: 100%;
  max-width: 60ch;
  /* Overflow of text should be hidden */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h1.title {
  font-size: 1.5rem;
  margin: 0;
}
