.flow > * + * {
  margin-top: 0.25rem;
}

.popup {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.popup header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-size: var(--font-size-sm);
}

.popup header > .row {
  gap: 1rem;
}

header .logo-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.sticky-controls {
  position: sticky;
  top: 0;
  background-color: var(--background);
  padding: 1rem 1rem 0.5rem;
  margin: 0;
}

.actionrow {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: var(--layout-gap-small);
  width: 100%;
}

.actionrow input {
  flex-grow: 1;
}

.sticky-controls > .row {
  align-items: stretch;
  gap: var(--layout-gap-small);
}

.sticky-controls > .row > button {
  border-radius: 2rem;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0 1rem;
  max-width: 100%;
}

.tabrow {
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
  width: 100%;
  max-width: 100%;
}

.tabrow .favicon {
  width: 1em;
  height: 1em;
}

.tabrow .tabdetails {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-grow: 1;
  background-color: transparent;
  padding: 0;
}

.tabdetails:hover:hover {
  background-color: transparent;
}

.tabrow:has(.close:hover) {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), var(--surface));
}

.tabrow .tabText {
  flex-grow: 1;
  margin: 0;
  width: 100%;
  max-width: 60ch;
  /* Overflow of text should be hidden */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  text-align: left;
}

.tabrow .close,
.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

h1.title {
  font-size: var(--font-size-base);
  margin: 0;
}

.group {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0.25em;
  border: 1px solid var(--border-color);
  border-radius: calc(2 * var(--border-radius));
}

.group .row {
  flex: 1;
  gap: 0.25em;
  flex-wrap: nowrap;
}

.group > .row > div:first-child {
  color: var(--secondary-color);
  margin: 0 0.25rem;
}

.results .list {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap-small);
}

.group h2 {
  flex-grow: 1;
  font-size: var(--font-size-base);
  color: var(--heading);
  margin: 0;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.confirm-wrapper.row {
  flex-grow: 0;
  width: max-content;
  max-width: 100%;
}

.confirm-wrapper.open {
  box-shadow: 0 0 0 1px var(--border-color);
  border-radius: var(--border-radius);
}

.confirm-prompt.row {
  align-items: center;
  width: max-content;
  max-width: 100%;
  gap: 0.25em;
}

.grow-spacer {
  flex-grow: 1;
}
