.flow>*+* {
  margin-top: 1rem;
}

.popup {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.popup header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabrow {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.actionrow {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.actionrow input {
  flex-grow: 1;
}

.tabrow .favicon {
  width: 1em;
  height: 1em;
}

.tabrow .tabdetails {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
}

.tabrow p {
  margin: 0;
  width: 100%;
  max-width: 60ch;
  /* Overflow of text should be hidden */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h1.title {
  font-size: var(--font-size-lg);
  margin: 0;
}

.group {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0.25em;
  border: 1px solid var(--border-color);
}

.group .row {
  flex: 1;
  gap: 1em;
  flex-wrap: nowrap;
}

.group>.row>div:first-child {
  color: var(--secondary-color);
}

.group h2 {
  flex-grow: 1;
  font-size: var(--font-size-md);
  color: var(--primary-color);
  margin: 0;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
